<a href="https://colab.research.google.com/github/Arnabsaha6/Machine-Learning/blob/master/Animal_Image_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/animal_data/Training_set_animals.csv")

In [5]:
df.head(10)

       filename animal_type
0   Image_1.jpg       mucca
1   Image_2.jpg       mucca
2   Image_3.jpg       mucca
3   Image_4.jpg       mucca
4   Image_5.jpg       mucca
5   Image_6.jpg       mucca
6   Image_7.jpg       mucca
7   Image_8.jpg       mucca
8   Image_9.jpg       mucca
9  Image_10.jpg       mucca

In [6]:
df.describe()

             filename animal_type
count            1200        1200
unique           1200           2
top     Image_379.jpg       mucca
freq                1         600

In [7]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [18]:
from fastai.imports import *

In [20]:
import tensorflow as tf    # test GPU 
tf.test.gpu_device_name()

''

In [21]:
!wget -NS --content-disposition "https://console.clouderizer.com/givemeinitsh/hR1mde3W" && bash ./clouderizer_init.sh

--2020-09-12 16:58:23--  https://console.clouderizer.com/givemeinitsh/hR1mde3W
Resolving console.clouderizer.com (console.clouderizer.com)... 134.209.140.210
Connecting to console.clouderizer.com (console.clouderizer.com)|134.209.140.210|:443... connected.
HTTP request sent, awaiting response...
  HTTP/1.1 200 OK
  Server: nginx/1.10.3 (Ubuntu)
  Date: Sat, 12 Sep 2020 16:58:34 GMT
  Content-Type: application/octet-stream; charset=utf-8
  Content-Length: 6555
  Connection: keep-alive
  X-Powered-By: Sails <sailsjs.org>
  Access-Control-Allow-Origin:
  Access-Control-Allow-Credentials:
  Access-Control-Allow-Methods:
  Access-Control-Allow-Headers:
  Access-Control-Expose-Headers:
  Content-Disposition: attachment; filename="clouderizer_init.sh"
  ETag: W/"199b-I+My2KFQ2ieOcuLQiIYGRA"
  set-cookie: sails.sid=s%3AiUFPIV3HKT5Zkjmh2EQYk82Fh-ByYZvJ.ZROj4DA2hTopmWCkKj0VBourPE0pOWDtcpxHkMZgWM0; Path=/; HttpOnly
Length: 6555 (6.4K) [application/octet-stream]
Last-modified header missing -- time-stamps turned off.
--2020-09-12 16:58:34--  https://console.clouderizer.com/givemeinitsh/hR1mde3W
Reusing existing connection to console.clouderizer.com:443.
HTTP request sent, awaiting response...
  HTTP/1.1 200 OK
  Server: nginx/1.10.3 (Ubuntu)
  Date: Sat, 12 Sep 2020 16:58:34 GMT
  Content-Type: application/octet-stream; charset=utf-8
  Content-Length: 6555
  Connection: keep-alive
  X-Powered-By: Sails <sailsjs.org>
  Access-Control-Allow-Origin:
  Access-Control-Allow-Credentials:
  Access-Control-Allow-Methods:
  Access-Control-Allow-Headers:
  Access-Control-Expose-Headers:
  Content-Disposition: attachment; filename="clouderizer_init.sh"
  ETag: W/"199b-I+My2KFQ2ieOcuLQiIYGRA"
Length: 6555 (6.4K) [application/octet-stream]
Saving to: ‘clouderizer_init.sh’

clouderizer_init.sh 100%[===================>]   6.40K  --.-KB/s    in 0s

2020-09-12 16:58:34 (320 MB/s) - ‘clouderizer_init.sh’ saved [6555/6555]

Great! Your Clouderizer project is initializing...it might take few minutes before it is ready.

**************************************************************************************
YOU SHOULD NOW SWITCH BACK TO CLOUDERIZER WEB PAGE TO START WORKING ON YOUR PROJECT
**************************************************************************************

In [ ]:
torch.cuda.is_available()