<a href="https://colab.research.google.com/github/Arnabsaha6/Machine-Learning/blob/master/Animal_Image_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/animal_data/Training_set_animals.csv")

In [5]:
df.head(10)

       filename animal_type
0   Image_1.jpg       mucca
1   Image_2.jpg       mucca
2   Image_3.jpg       mucca
3   Image_4.jpg       mucca
4   Image_5.jpg       mucca
5   Image_6.jpg       mucca
6   Image_7.jpg       mucca
7   Image_8.jpg       mucca
8   Image_9.jpg       mucca
9  Image_10.jpg       mucca

In [6]:
df.describe()

             filename animal_type
count            1200        1200
unique           1200           2
top     Image_379.jpg       mucca
freq                1         600

In [7]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [18]:
from fastai.imports import *

In [20]:
import tensorflow as tf    # test GPU 
tf.test.gpu_device_name()

''

In [19]:
torch.cuda.is_available()

False